# Compiled python modules
*.pyc
build/
.ipynb_checkpoints
*.ipynb 

# Setuptools distribution folder
/dist/

# Python egg metadata
/*.egg-info
/*.egg

# docs
docs/build/
test/results/
test/

# temp files
tmp.*
